{%  extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.bg-image--20{
    background:url('{% static "images/img/background.jpg"%}');background-size:100% 100%; background-position: center center;   
}
.bg-image--21{
    background:url('{% static "images/img/background2.jpg"%}');background-size:100% 100%; background-position: center center;
}
</style>
{% endblock %}
{% block body %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--20">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center brad__white">
                            <h2 class="bradcaump-title">about us</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item" href="{% url 'index'%}">Home</a>
                              <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active">about us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start About Us Area  -->
    <section class="food__about__us__area section-padding--lg bg--white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Why Choose Us</h2>
                        <p>The process of our service </p>
                    </div>
                </div>
            </div>
            <div class="row mt--80">
                <div class="col-lg-12 col-sm-12 col-md-12">
                   <img src="{% static 'images/img/steps.png'%}" alt="" width="100%">
                </div>
                
            </div>
        </div>
    </section>
    <!-- End About Us Area  -->
    <!-- Start Our Team Area -->
    <section class="food__team__area team--2 bg--white section-padding--lg bg-image--21">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center section__bg__black">
                        <h2 class="title__line">Meet Our Team</h2>
                        <p>The process of our service </p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="{% url 'index'%}">
                                <img src="{% static 'images/img/stu1.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Kajal</a></h4>
                                <h6>Founder</h6>
                            </div>
                            <p>Hello I am founder of zykaa. I have a very good experience here because of very good customer reviews</p>
                            <ul class="team__social__net">
                                <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="">
                                <img src="{% static 'images/img/stu2.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Sakshi</a></h4>
                                <h6>Co-Founder</h6>
                            </div>
                            <p>I am sakshi co-founder of Zykaa. It is my passion to provide quality food to you!!</p>
                            <ul class="team__social__net">
                                <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="">
                                <img src="{% static 'images/img/jas.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Lovpreet</a></h4>
                                <h6>Supplier</h6>
                            </div>
                            <p>I am lovpreet, I keeps a eye on food supply, which type of food delivered to you!!</p>
                            <ul class="team__social__net">
                                <li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </section>
    <!-- End Our Team Area -->
    <!-- Start Accordion Area -->
    <section class="food__acconrdion__area bg--white section-padding--lg">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Frequantly Ask Question</h2>
                        <p>The process of our service </p>
                    </div>
                </div>
            </div> -->
            <div class="row mt--80 pb--60">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="{% static 'images/img/order.png'%}" width="100%">
                </div>
            </div>
        </div>
    </section>
    <!-- End Accordion Area -->
{% endblock %}