{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.bg-image--18 {
  background-image: url("{% static 'images/img/7.jpg'%}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
</style>
{% endblock %}
{% block body %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--18">
    <div class="ht__bradcaump__wrap d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Checkout</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="{% url 'index'%}">Home</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                            <span class="breadcrumb-item active">Checkout</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area --> 
    <section class="htc__checkout bg--white section-padding--lg">
    <!-- Checkout Section Start-->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-12 mb-30">
                        
                        <!-- Checkout Accordion Start -->
                        <div id="checkout-accordion">
                            
                            <!-- Checkout Method -->
                            <div class="single-accordion">
                                <a class="accordion-head" data-toggle="collapse" data-parent="#checkout-accordion" href="#checkout-method">1. Account Details</a>
                                
                                <div id="checkout-method" class="collapse show">
                                    <div class="checkout-method accordion-body fix">
                                        
                                        <ul class="checkout-method-list">
                                            <li class="active disabled" data-form="checkout-login-form">Details</li>
                                        </ul>
                                        
                                        <form action="#" class="checkout-login-form">
                                            <div class="row">
                                                <div class="input-box col-md-6 col-12 mb--20"><input type="text" placeholder="Your Name" value="{{user.first_name}}" disabled></div>
                                                <div class="input-box col-md-6 col-12 mb--20"><input type="text" placeholder="Username" value="{{user.username}}" disabled></div>
                                                <div class="input-box col-md-6 col-12 mb--20"><input type="email" placeholder="Contact Number" value="{{customer.contact}}" disabled></div>
                                                <div class="input-box col-md-6 col-12 mb--20"><input type="text" placeholder="City" value="{{customer.city}}" disabled></div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Shipping Method -->
                            <div class="single-accordion">
                                <a class="accordion-head collapsed" data-toggle="collapse" data-parent="#checkout-accordion" href="#shipping-method">2. shipping informatioon</a>
                                <div id="shipping-method" class="collapse">
                                    <div class="accordion-body shipping-method fix">
                                        
                                        <h5>shipping address</h5>
                                        <p><span>address&nbsp;</span>{{customer.city}}</p>
                                        
                                        <button class="shipping-form-toggle">Add More Details?</button>
                                        
                                        <form action="#" class="shipping-form checkout-form">
                                            <div class="row">
                                                <div class="col-12 mb--20">
                                                    <input type="text" placeholder="Enter Country" id="con" required>
                                                </div>
                                                <div class="col-md-6 col-12 mb--20">                                 
                                                    <input type="text" placeholder="First Name" name="first_name" id="first" value="{{user.first_name}}">
                                                </div>
                                                <div class="col-md-6 col-12 mb--20">                             
                                                    <input type="text" placeholder="Last Name" name="last_name" id="last">
                                                </div>
                                                <div class="col-12 mb--20">                              
                                                    <input type="text" placeholder="Company Name" name="company_name" id="comp">
                                                </div>
                                                <div class="col-12 mb--20">
                                                    <input placeholder="Street address" type="text" name="street_address" id="street" required>
                                                </div>
                                                <div class="col-12 mb--20">
                                                    <input placeholder="Apartment, suite, unit etc. (optional)" type="text" name="other_info" id="other">
                                                </div>
                                                <div class="col-12 mb--20">
                                                    <input placeholder="Town / City" type="text" name="town" value="{{customer.city}}" id="city">
                                                </div>
                                                <div class="col-md-6 col-12 mb--20">                                 
                                                    <input type="text" placeholder="State / County" name="state" id="state">
                                                </div>
                                                <div class="col-md-6 col-12 mb--20">                                 
                                                    <input placeholder="Postcode / Zip" type="text" name="postal_code" id="postal">
                                                </div>
                                                <div class="col-md-6 col-12">                                 
                                                    <input type="email" placeholder="Email Address" name="email" value="{{user.email}}" id="email">
                                                </div>
                                                <div class="col-md-6 col-12">                                   
                                                    <input placeholder="Phone Number" type="text" value="{{customer.contact}}" name="contact" id="contact">
                                                </div>                          
                                                <div class="col-md-6 col-12 mt-2">                                   
                                                        <button type="button" class="food__btn" id="caddress" onclick="setAddress()">Add Address</button>
                                                </div>                          
                                            </div>
                                        </form>
                                        <script>
                                        function setAddress(){
                                            let comp = $('#comp').val();
                                            let st = $('#street').val();
                                            let ct = $('#city').val();
                                            let ot = $('#other').val();
                                            let state = $('#state').val();
                                            let postal = $('#postal').val();
                                            let cntry = $('#con').val();

                                            let first = $('#first').val();
                                            let ls = $('#last').val();
                                            let em = $('#email').val();
                                            let contact = $('#contact').val();

                                            let address = comp+','+st+','+ot+','+ct+','+postal+','+state+'('+cntry+')'
                                            let name = first+' '+last;
                                            $('#dname').val(name);
                                            $('#daddress').val(address);
                                            $('#demail').val(em);
                                            $('#dnumber').val(contact);

                                        }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Payment Method -->
                            <div class="single-accordion">
                                <a class="accordion-head collapsed" data-toggle="collapse" data-parent="#checkout-accordion" href="#payment-method">4. Payment method</a>
                                <div id="payment-method" class="collapse">
                                    <div class="accordion-body payment-method fix">
                                        
                                        <ul class="payment-method-list">
                                            <li class="active" name="pay" value="cash">Cash on delivery</li>
                                            <li name="pay" value="online">Online Payment</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Checkout Accordion Start -->
                    </div>
                    
                    <!-- Order Details -->
                    <div class="col-lg-6 col-12 mb-30">
                        
                        <div class="order-details-wrapper">
                            <h2>your order</h2>
                            <div class="order-details">
                                <form action="#">
                                        <input type="hidden" name="dname" id="dname" value="{{user.username}}">
                                        <input type="hidden" name="demail" id="demail" value="{{user.email}}">
                                        <input type="hidden" name="dnumber" id="dnumber" value="{{customer.contact}}">
                                        <input type="hidden" name="daddress" id="daddress" value="{{customer.city}}">
                                        <input type="hidden" name="grandtotal" id="grandtotal" value="{{grand}}">
                                        <input type="hidden" name="items" id="items" value="{{cids}}">
                                    <ul>
                                        <li><p class="strong">product</p><p class="strong">total</p></li>
                                        <li><p>Total Items</p><p>{{csize}}</p></li>
                                        {% for i in all %}
                                        <li><p>{{i.name}} x{{i.quan}}</p><p>&#8377;{{i.price}}</p></li>
                                        {% endfor %}
                                        <li><p class="strong">cart subtotal</p><p class="strong">&#8377;{{grand}}</p></li>
                                        <li><p class="strong">shipping</p><p>
                                            <input type="radio" name="order-shipping" id="free" checked /><label for="free">Free Shipping</label>
                                        </p></li>
                                        <li><p class="strong">order total</p><p class="strong">&#8377;{{grand}}</p></li>

                                        <small class="text-danger">In order to place order, shipping information must be filled out!</small>
                                        <li><a class="food__btn" onclick="place_order()">Place Order</a>
                                        </li>
                                    </ul>
                                    

                                </form>
                            </div>
                        </div>
                        
                    </div>
                
            </div>
        </div>
    </div><!-- Checkout Section End-->             
    </section>
    <script>
        function place_order(){
            let dname = $('#dname').val();
            let demail = $('#demail').val();
            let daddr =$('#daddress').val();
            let dcon = $('#dnumber').val();
            let amount = $('#grandtotal').val();
            let it = $('#items').val();
            $.ajax({
                url:'{% url "mysite:get_order"%}',
                type:'get',
                data:{'grandtotal':amount,'dname':dname,'demail':demail,'daddress':daddr,'dnumber':dcon,'items':it},
                success:function(data){
                    let oid = parseInt(data)+Math.round(Math.random()*(9999-1000)+1000)
                    url = 'http://sachtechsolution.pe.hu/easypayment/payment.php?mid=JfyIOI16626162004975&amount='+amount+'&adminemail=akd6203@gmail.com&adminmobile=9056237066&mkey=BOBU1Fd16pyPSPrY&orderid='+data+'o'+oid+'&returnurl=http://127.0.0.1:8000{% url "mysite:success_payment" %}';
                    window.location = url; 
                }
            })
            
        }
        </script>
{% endblock %}